body {
  background-color: rgb(92, 121, 92);

}

.container {
 
  width: 100vw;
  margin: 0 auto;
  padding-top: 50px;
}

.container h1 {
  text-align: center;
}

.card {
  background-color: beige;
  padding: 20px 30px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card label {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid grey;
  margin-bottom: 15px;
  height: 30px;
  font-size: 16px;
}

.submitBtn {
  background-color: blue;
  color: antiquewhite;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
